<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}happy place{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>

    <body>
        <main>
            {% block body %}{% endblock %}
        </main>

        <footer>
            <section>
                <p>♡ ♡ ♡</p>
                <address>
                    Email <a href="mailto:rebeccamahany@gmail.com">me</a>
                    or <a href="https://github.com/RebeccaMahany/happy-place/issues">open an issue</a>.
                </address>
            </section>
        </footer>

        {% block javascripts %}{% endblock %}
    </body>
</html>
