{% extends "base.html.twig" %}

{% block body %}
    <section>
        <h1>Whoops.</h1>
        <p>
            Something went wrong. Sorry about that.
        </p>
    </section>
    <section>
        <a href="/happy-place">Go back to welcome page.</a>
    </section>
{% endblock %}
